.App {
  text-align: center;
}

.Dice-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.Roll-button {
  width: 15%;
  border-radius: 0.5rem;
}